@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');


*{
    font-family: Roboto;
    margin: 0;
}

div{
    text-align: center;
    background-color: darkblue;
    height: 190px;
    background-attachment: local;
    color: white;
}
div>h1{
    color: darkgray;
    padding-top: 19px;
    
}

div>h3{
    background: white;
    color: black;
    padding: 12px;
}

div>h3>span{
    background-color: darkblue;
    color: white;
    padding-inline: 9px;
    font-style: italic;
    transition: 0.5s;
}

div>h3>span:hover{
    border: 3px solid darkblue;
    border-radius: 6px;
    
}

ul{
    margin-top: 7vh;
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

li{
    margin-block: 6px;
    background-color: lightblue;
    width: 260px;
    padding-block: 7px;
    margin-inline: 10px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s;
}

li:hover{
    background-color: darkblue;
    color: whitesmoke;
    box-shadow: 3px 3px gray;
    padding-block: 10px;
}

a{
    text-decoration: none;
    color: black;
}